html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    /* font-family: 'font', sans-serif; */
    font-family: Arial, Verdana, sans-serif;
}


/* INDEX */

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    background-color: #070217;
}

.main-content__logo {
    display: block;
    margin-bottom: 50px;
}

.main-content__box {
    margin-bottom: 50px;
    font-size: 0;
}

.box-content__link {
    display: inline-block;
    padding: 24px 49px;
    font-size: 18px;
    font-weight: 700;
    background-color: #3f2aff;
}

.box-content__link:first-child {
    margin-right: 25px;
}

.main-content__download {
    background-image: url("../img/download.png");
    background-position: left center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-left: 30px;
    font-weight: 700;
    font-size: 18px;
    color: #3f2aff;
}


/* ARTICLE */

.container {
    margin: 0 auto;
    padding: 80px 0;
    width: 1170px;
}

.figure {
    font-size: 0;
    margin: 0 0 40px;
    display: inline-block;
    width: 872px;
}

.text_style {
    border-left: #b6b6b6 1px;
    border-left-style: solid;
    border-right: #b6b6b6 1px;
    border-right-style: solid;
    border-bottom: #b6b6b6 1px;
    border-bottom-style: solid;
    margin: 0;
    padding: 19px 0px;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
}

.title {
    margin: 0 0 40px;
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
    color: #333;
}

.text1 {
    margin: 0 0 40px;
    width: 872px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #333;
}

.text2 {
    margin: 0 0 10px;
    width: 692px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #333;
}

.background_box {
    border-radius: 20px;
    padding: 50px 95px;
    width: 100%;
    font-weight: 700;
    font-size: 30px;
    color: #fff;
    background-color: #3f2aff;
}

.section1 {
    margin-bottom: 40px;
    border-radius: 20px;
    padding: 30px;
    background-color: #f3f3f3;
    background-size: 274px 413px;
    background-repeat: no-repeat;
}

.section2 {
    border-radius: 20px;
    padding: 30px;
    background-color: #f3f3f3;
    background-size: 274px 274px;
    background-repeat: no-repeat;
}

.img-section2 {
    background-image: url("../img/decorate-2.png");
    background-position: right center;
}

.img-section1 {
    background-image: url("../img/decorate-1.png");
    background-position: right center;
}

.margin-bottom2 {
    margin: 0 0 10px;
    font-size: 40px;
    line-height: 46px;
    color: #333;
}

.margin-bottom3 {
    margin: 0 0 10px;
    font-weight: normal;
    font-size: 30px;
    line-height: 34px;
    color: #333;
}

.marginBottomImg {
    margin-bottom: 40px;
}

.bold-font {
    font-weight: bold;
}

.padding-ul {
    margin: 0 0;
    padding-left: 15px;
}

.marginBottom-li {
    margin-bottom: 20px;
}

.marginBottom-li::marker {
    color: #3f2aff;
}

.list-link {
    font-size: 20px;
    border-bottom: 1px solid;
    color: #3f2aff;
}

.marginBottom-img {
    margin: 0 0 40px;
}


/* MODULES */

.logo-content {
    display: block;
    margin-bottom: 25px;
    width: 137px;
    height: 30px;
    left: 375px;
    top: 50px;
}

.title-modules {
    margin: 0 0 25px 0;
    font-size: 60px;
    line-height: 69px;
    color: #3F2AFF;
}

.back-head {
    background-image: url(../img/Arrow.svg);
    background-position: left center;
    background-size: 45px 7px;
    background-repeat: no-repeat;
    padding-left: 50px;
    font-weight: 400;
    font-size: 20px;
    color: #3f2aff;
}

.modules-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 25px;
    width: 572px;
    height: 505px;
    margin-bottom: 25px;
    background-color: white;
    filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.1));
}

.image-background-1 {
    vertical-align: bottom;
    padding-bottom: 40px;
    display: inline-block;
    width: 572px;
    height: 505px;
    margin-right: 25px;
    margin-bottom: 25px;
    background-image: url(../img/introduction.jpg);
    background-repeat: no-repeat;
    background-color: white;
    filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.1));
}

.image-background-2 {
    vertical-align: bottom;
    padding-bottom: 40px;
    display: inline-block;
    width: 572px;
    height: 505px;
    margin-bottom: 25px;
    background-image: url(../img/Base_HTML.jpg);
    background-repeat: no-repeat;
    background-color: white;
    filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.1));
}

.image-background-3 {
    vertical-align: bottom;
    padding-bottom: 40px;
    display: inline-block;
    width: 572px;
    height: 505px;
    margin-right: 25px;
    margin-bottom: 25px;
    background-image: url(../img/Base_CSS.jpg);
    background-repeat: no-repeat;
    background-color: white;
    filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.1));
}

.image-background-4 {
    vertical-align: bottom;
    padding-bottom: 40px;
    display: inline-block;
    width: 572px;
    height: 505px;
    margin-bottom: 25px;
    background-image: url(../img/work_layout.jpg);
    background-repeat: no-repeat;
    background-color: white;
    filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.1));
}

.modules-title {
    font-style: normal;
    margin: 0 auto;
    font-size: 40px;
    line-height: 46px;
    font-weight: 700;
    padding: 200px 0 0 25px;
    color: #3f2aff;
}

.modules-text {
    margin: 0 auto;
    padding-left: 25px;
    list-style: none;
    /* margin: 2px 25px; */
    font-size: 20px;
    line-height: 165%;
    color: #333;
}

.modules-list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.modules-item:nth-child(2n) {
    margin-right: 0;
}

.number-moduls {
    position: absolute;
    width: 45px;
    height: 46px;
    left: 502px;
    top: 402px;
    font-weight: 400;
    margin-top: 0;
    padding-top: 40px;
    font-size: 40px;
    line-height: 46px;
    text-align: right;
    color: #EAEAEA;
}

.Frame-7 {
    box-sizing: border-box;
    color: #3F2AFF;
    padding: 25px 76px;
    border: 2px solid #3F2AFF;
    margin: 0 auto;
    display: block;
    width: 274px;
    height: 70px;
}
